page-login {

    @font-face {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 300;
        src: url('../assets/fonts/Nunito/300/nunito300.woff2');
      }

      font-family: 'Nunito Sans' !important;
      font-weight: 400 !important;

      .item-md {
          padding-left: 0;
      }

      .item-md {
        padding-left: 0;
    }


}
