page-perfil-usuario {
    h1, h5,   {
        color: white;
    }

    h6 {
        font-weight: 300;
        color: #DDD;
    }

    h4{
        color:#ff6f32;
    }

    h5{
        font-weight: 400;
    }

    ion-icon {
        font-size: 1.6em;
    }
    
    .img-usuario{
        width: 70%;
        height: 70%;
        border-radius: 10em;
        border: 6px #333 solid;
        margin-bottom: -1.4em;
    }

    .nome-usuario{
        position: relative;
        margin:auto;
        padding: 5px;
        border-radius: 5px;
        width: 80%;        background-color: #ff5000;
    }

    .content-md, .content-ios  {
        background-color: #222;
        display: flex;
    }

    .content-wrapper{
        align-items: baseline;
        text-align: center;
    }
}
