<!--
  Generated template for the PalestrantesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Palestrantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides>
    <ion-slide *ngFor="let palestrante of palestrantes" class="slide-palestrante">
      <img class="img-palestrante" src="{{palestrante.foto}}">
      <h1 class="titulo-palestrante">{{palestrante.nome}}</h1>
      <h5>{{palestrante.curriculo}}</h5>
      <h6 margin-top>Irá palestrar sob o tema:</h6>
      <h4>{{palestrante.tema}}</h4>
      <ion-row class="icones" padding-bottom margin-top>
        <ion-col *ngIf="firstSlide!=true" col-4>
          <ion-icon color="light" name="arrow-back"></ion-icon>

        </ion-col>
        <ion-col col-4>
          <a href="{{palestrante.linkLinkedIn}}">
            <ion-icon color="light" name="logo-linkedin"></ion-icon>
          </a>
        </ion-col>
        <ion-col *ngIf="lastSlide!=true" col-4>
          <ion-icon color="light" name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-slide>

  </ion-slides>

</ion-content>